
@{
    ViewBag.Title = "GMaps-Api";
}

@section myStyles{
    <style>
        #gMap {
            height: 300px;
            margin: auto;
        }

        th, td {
            text-align: center;
        }

        #default {
            position: absolute;
            top: 20%;
            left: 2.2%;
            z-index: 9999999;
        }
    </style>
}

<h2 class="text-center text-uppercase text-primary">Google maps API - Click Events</h2>

<div class="container" style="position: relative">
    <div id="gMap"></div>
    <button class="btn btn-warning btn-sm" id="default">Default Location</button>
</div>

<br />
<div class="row form-inline text-center">
    <div class="input-group">
        <span class="input-group-addon">Latitude</span>
        <input id="lat" type="text" class="form-control" placeholder="lat-cord" readonly="readonly">
    </div>
    <div class="input-group">
        <span class="input-group-addon">Longitude</span>
        <input id="lng" type="text" class="form-control" placeholder="lng-cord" readonly="readonly">
    </div>
</div>
<br />
<button id="saveToDb" class="btn btn-info center-block" type="button">Save Coordinates To Database</button>
<hr />
<table class="table table-bordered table-striped table-hover table-condensed" id="cordsTable">
    <thead>
        <tr>
            <th>
                Latitude
            </th>
            <th>
                Longitude
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section myScript{
    <script type="text/javascript">

        var map;
        var marker;
        var markers = [];
        var mapDiv = document.getElementById("gMap");
        var latlng = { lat: 31.511645, lng: 74.311594 };

        $("#default").hide();


        function initMap() {

            map = new google.maps.Map(mapDiv,
                {
                    zoom: 17,
                    center: latlng,
                    disableDoubleClickZoom: true,
                    clickableIcons: false
                });

            var marker = new google.maps.Marker({
                map: map,
                animation: google.maps.Animation.DROP,
                title: "Default Center Point",
                position: latlng,
                icon: {
                    url: "http://maps.google.com/mapfiles/kml/shapes/schools.png"
                }
            });

            var infowindow = new google.maps.InfoWindow({
                content: "Vision Plus Is Default Location"
            });

            marker.addListener("click", function (event) {
                infowindow.open(map, marker);
                document.getElementById("lat").value = event.latLng.lat();
                document.getElementById("lng").value = event.latLng.lng();
            });

            map.addListener("dblclick", (event) => {
                deleteMarkers();
                addMarker(event.latLng);
                map.panTo(event.latLng);
                var latitude = event.latLng.lat();
                var longitude = event.latLng.lng();
                document.getElementById("lat").value = latitude;
                document.getElementById("lng").value = longitude;
                console.log(latitude + ', ' + longitude);
                $("#default").fadeIn();
            });
        }

        GetData();

        // Adds a marker to the map and push to the array.
        function addMarker(location) {

            marker = new google.maps.Marker({
                position: location,
                icon: {
                    url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                },
                animation: google.maps.Animation.DROP,
                map: map
            });
            marker.addListener("click", () => {
                toggleBounce(marker);
            });

            markers.push(marker);

        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            setMapOnAll(null);
            markers = [];
        }

        function toggleBounce(marker) {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }

        document.getElementById("default").addEventListener("click", () => {
            map.panTo(latlng);
        });

        // Getting Data From Database
        function GetData() {
            var html = '';
            $.ajax({
                url: "/Google/GetAllCords/",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.length !== 0) {
                        $.each(result,
                            function (key, item) {
                                html += " <tr id=" + item.Id + "><td>" +
                                    item.Latitude +
                                    "</td><td>" +
                                    item.Longitude +
                                    "</td><td> <a id='delete' href='#' onclick='DeleteCords(" + item.Id + ")'>Delete</a>" +
                                    " | <a id='edit' href='#' onClick='LoadOnMap(this)'>Load</a> </td></tr>";
                            });
                        $("#cordsTable > tbody").html(html);
                    } else {
                        html += "<tr><td><td><td>No Data Found</td></td></td></tr>";
                        $("#cordsTable > tbody").html(html);
                    }
                },
                error: function (errormessage) {
                    alert("Something Went Wrong on Data Load");
                    console.log(errormessage.responseText);
                }
            });
        }

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuDiaL_38l07wVjMbGOxsuk4hQQ3kknGE&callback=initMap">
    </script>

}
